## Mutable and Immutable

In [15]:
data = "hello world "
print(data.strip(" "))

hello world

In [31]:
lang = "I like java"
print(lang.replace("java", "Python"))
print(lang.replace(" ", ""))

I like Python
Ilikejava

In [34]:
words= ["I", "love", "Python"]
print("".join(words))

IlovePython

In [40]:
fvrt = "I love Python"
print(fvrt.split())
print(fvrt.split("v"))

['I', 'love', 'Python']
['I lo', 'e Python']

## handling the missing values

In [50]:
import pandas as pd

In [58]:
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.NaN, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.NaN, 40, 80, 98],
       'Fourth Score':[np.NaN, 43, 87, 18]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0          NaN           NaN
1         90.0          45.0         40.0          43.0
2          NaN          56.0         80.0          87.0
3         95.0           NaN         98.0          18.0